---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #f5f6fa;
$text-color: rgba(0, 0, 0, 0.87);
$secondary-text: rgba(0, 0, 0, 0.54);
$link-color: #000;
$break-size: 768px;
$smartphone-size: 480px;

$background-color-dark: #111111;
$text-color-dark: #ddd;
$secondary-text-dark: #8a8a8a;
$link-color-dark: #fafafa;

html, body {
	background: $background-color;
	color: $text-color;
	font-size: 22px;
	font-weight: 300;
	font-family: "Source Sans Pro", "SF Pro Display", "HelveticaNeue", "Helvetica", Arial, sans-serif;

	@media (prefers-color-scheme: dark) {
		color: $text-color-dark;
		background: $background-color-dark;
	}
}
a {
	color: $secondary-text;
	text-decoration: none;

	@media (prefers-color-scheme: dark) {
		color: $secondary-text-dark;
	}

	&:hover {
		color: $text-color;
		text-decoration: underline;

		@media (prefers-color-scheme: dark) {
			color: $text-color-dark;
		}
	}
}
pre {
	padding: 10px;
	background: $background-color;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);

	@media (prefers-color-scheme: dark) {
		background: $background-color-dark;
	}
}
pre.highlight {
}
hr {
	max-width: 60%;
	margin: 40px auto;
	color: $secondary-text;

	@media (prefers-color-scheme: dark) {
		color: $secondary-text-dark;
	}
}
.container {
	width: 1024px;
	max-width: 90%;
	margin: 0 auto;
}
.Navigation {
	padding: 20px 0;
	overflow: hidden;

	a {
		margin-left: 20px;
		color: $text-color;
		font-size: 0.8em;
		font-weight: 400;
		text-transform: uppercase;

		@media (prefers-color-scheme: dark) {
			color: $text-color-dark;
		}

		&:hover {
			text-decoration: none;
			border-bottom: 2px solid $text-color;
		}
	}

	.toggle-sidebar {
		visibility: hidden;
		text-decoration: none;

		@media screen and (max-width: $smartphone-size) {
			visibility: visible;
		}

		&:hover {
			border-bottom: none;
		}
	}
}
.Sidebar {
	float: left;
	position: fixed;
	z-index: 100;
	width: 200px;
	height: 100%;
	overflow: auto;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	border-right: 1px solid rgba(0, 0, 0, .1);

	@media screen and (max-width: $smartphone-size) {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s 0.3s, opacity 0.3s linear;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		padding: 20px 0;
		overflow-x: hidden;
		background: rgba(255, 255, 255, .95);
	}

	.toggle-sidebar {
		visibility: hidden;
		position: absolute;
		top: 20px;
		right: 25px;
		font-size: 36px;
		margin-left: 20px;
	
		@media screen and (max-width: $smartphone-size) {
			visibility: visible;
		}
	
		&:hover {
			text-decoration: none;
		}
	}
	&.toggled {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.3s linear;
	}
}
.Sidebar-group {
	display: block;
	margin: 20px 0;
	padding: 0 20px;

	&:first-child {
		margin-top: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul > li {
		margin: 0;
		padding: 0 0 0 8px;
		line-height: 30px;
		font-weight: 300;

		.active {
			font-weight: bold;
		}
	}
	a {
		color: $text-color;

		@media (prefers-color-scheme: dark) {
			color: $text-color-dark;
		}

		&:hover {
			color: $link-color;
			text-decoration: none;

			@media (prefers-color-scheme: dark) {
				color: $link-color-dark;
			}

			&:before {
				content: "#";
				margin-left: -10px;
				position: absolute;
				color: $text-color;
			}
		}
	}
	.active {
		font-weight: bold;
	}
}
.Sidebar-title {
	font-weight: 600;
	line-height: 30px;
}
.Section-title {
	font-size: 2em;
	font-weight: 600;
}
.Section-subtitle {
	color: $secondary-text;
	font-size: 1.5em;
	font-weight: 300;
}
.Profile {
	float: left;
	margin: 50px 0;
	width: 280px;
	text-align: center;

	@media screen and (max-width: $break-size) {
		float: none;
		width: 100%;
		clear: both;
	}
}
.Profile-picture {
	width: 230px;
	height: 230px;
	border-radius: 50%;
}
.Profile-name {
	margin: 10px;
	font-size: 34px;
	font-weight: 600;
}
.Profile-contact {
	height: 30px;
	margin-left: 0;
	padding-left: 0;
}
.Profile-link {
	a {
		text-decoration: none;
	}
	&:not(:first-child) {
		padding-left: 20px;
	}
}
.About {
	margin-left: 350px;

	@media screen and (max-width: $break-size) {
		margin-left: 0;
	}
}
.About-skills {}
.Projects, .Presentations {
	margin-left: 350px;

	@media screen and (max-width: $break-size) {
		margin-left: 0;
	}
}
.Presentations-presentation {
	max-width: 400px;
}
.Post {}
.Post-header {}
.Post-meta {
	margin: 0;
	color: $secondary-text;
	font-size: 0.8em;
	letter-spacing: 1px;
	line-height: 1.5;
	text-transform: uppercase;

	@media (prefers-color-scheme: dark) {
		color: $secondary-text-dark;
	}
}
.Post-title {
	margin: 0;
	margin-left: -3px;
	font-size: 2em;
	font-weight: 400;

	a {
		color: $text-color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $text-color-dark;
		}
	}
	a:hover:before {
		content: "#";
		margin-left: -25px;
		position: absolute;
	}
}
.Post-content {
	img {
		height: auto;
		max-width: 100%;
		max-width: calc(100% + 60px);
		margin-left: -30px;
		margin-right: -30px;
	}
}
.Post-tags {
	font-size: 0.7em;

	a {
		cursor: pointer;
		color: $secondary-text;
		transition: color .3s ease;

		@media (prefers-color-scheme: dark) {
			color: $secondary-text-dark;
		}
	}
	a:hover {
		color: $text-color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $text-color-dark;
		}
	}
	a:before {
		content: "\0023";
	}
}
.Docs {
	article {
		padding: 0;
		margin-left: 300px;
		line-height: 1.5em;

		@media screen and (max-width: $smartphone-size) {
			margin-left: 0px;
		}

		h1 {
			margin: 20px 0 40px 0;
			font-size: 2em;
			font-weight: 400;
		}
		h2 {}
	}
}
.Docs-title {}
.Docs-lead {
	color: $secondary-text;

	@media screen and (max-width: $smartphone-size) {
		color: $secondary-text-dark;
	}
}
.Header {
	overflow: hidden;

	.Navigation {
		float: right;
	}
}
.Footer {
	margin: 40px 0 20px 0;
	/*border-top: 1px solid rgba(0, 0, 0, 0.17);*/
}