---
layout: docs
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	{% include head.html %}

	<body class="Docs">
		<div class="container">
			{% include header.html %}

			{% include docs-sidebar.html %}
	
			<article>
				<h1 class="Docs-title">{{ page.title | smartify }}</h1>
				<!--<p class="Docs-lead">{{ page.description | smartify }}</p>-->
				{{ content }}
			</article>

			{% include footer.html %}
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.toggle-sidebar').click(function(e) {
					$('.Sidebar').toggleClass('toggled');
					e.preventDefault();
				});
			});
		</script>
	</body>
</html>
