---
layout: default
---
<article class="Post">
	<header class="Post-header">
		<h1 class="Post-title"><a href="{{ page.url }}">{{ page.title | escape }}</a></h1>
		<p class="Post-meta">
	  		<time class="Post-date" datetime="{{ page.date | date_to_xmlschema }}">
			{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
			{{ page.date | date: date_format }}
			</time>
		</p>
  	</header>

	<div class="Post-content">
		{{ page.content }}
	</div>

	<p class="Post-extra">
	{% if page.tags.size > 0 %}
		Tags: {{ page.tags | join: ', ' }}
	{% endif %}
	</p>
</article>