---
layout: default
---
<article class="Post">
	<header class="Post-header">
		<p class="Post-meta">
	  		<time class="Post-date" datetime="{{ page.date | date_to_xmlschema }}">
			{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
			{{ page.date | date: date_format }}
			</time>
			{% if post.author %}
			• <span class="Post-author">{{ post.author }}</span>
			{% endif %}
		</p>
		<h1 class="Post-title"><a href="{{ page.url }}">{{ page.title | escape }}</a></h1>
  	</header>

	<div class="Post-content">
		{{ page.content }}
	</div>

	<p class="Post-tags">
	{% for tag in post.tags %}
		<a>{{ tag | escape }}</a>
	{% endfor %}
	</p>
</article>